GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_SHEET_ID=
GOOGLE_SHEET_NAME=tracking_messages

ZERNIO_API_KEY=
ZERNIO_ACCOUNT_ID=
ZERNIO_AD_ACCOUNT_ID=
ZERNIO_PLATFORM=facebook
ZERNIO_MESSAGE_TAG=POST_PURCHASE_UPDATE

ADMIN_PASSWORD=
AUTH_SECRET=
